Source: vdr-plugin-sundtek
Section: video
Priority: extra
Maintainer: Holger Schvestka <hotzenplotz5@gmx.de>
Build-Depends: cdbs, debhelper (>= 7), vdr-dev (>= 1.7.17), dvb-driver-sundtek-dev
Standards-Version: 3.9.1
Homepage: http://home.versanet.de/~lhanisch/

Package: vdr-plugin-sundtek
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}
Description: A VDR plugin handles some Sundtek features
 This VDR-plugin handles some features provided by the libmedia from Sundtek

 

